/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply background and font globally */
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Metal Mania', cursive;
  background: linear-gradient(180deg, rgba(128, 12, 12, 0.5) 0%, rgba(18, 6, 25, 0.5) 100%);
}
